$labelFontSize: 14px;
$labelLineHeight: 175%;

.sm_form{
    
    margin-bottom: 20px;
    
    label{
        display: block;
        line-height: $labelLineHeight;
        font-size: $labelFontSize;
        font-weight: bold;
        margin-bottom: 7px;
    }
    
    input[type=text] {
        width: 100%;
        border-radius: 5px;
    }
}

.sm_form_overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #444;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.sm_form_loading {
    width: 300px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 -25px;
}