$labelFontSize: 14px;
$labelLineHeight: 175%;

.sm_form{
    
    margin-bottom: 20px;
    
    label{
        display: block;
        line-height: $labelLineHeight;
        font-size: $labelFontSize;
        font-weight: bold;
        margin-bottom: 7px;
    }
    
    input[type=text] {
        width: 100%;
        border-radius: 5px;
    }
}
.sm_form_overaly{
	display:block;
	position: absolute;
	background:#444444;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; // IE8
	filter: alpha(opacity=50); // IE 5-7
	opacity: 0.5;
}